@media screen and ((min-width: 500px) and (max-width: 700px)) {
  .main-home .shortcut-stories {
    margin: 1rem 3rem;
  }
}

@media screen and ((min-width: 701px) and (max-width: 900px)) {
  .main-home .shortcut-stories {
    margin: 1rem 6rem;
  }
}

@media screen and (min-width: 901px) {
  .main-home {
    flex-direction: row;
  }

  .navbar-brand {
    margin: 0% 2rem;
  }

  .navbar-toggler {
    margin: 0% 3rem;
  }

  footer {
    margin-top: 2rem;
  }

  footer .container {
    padding: 0.2rem 5%;
  }

  footer .container ul {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .ftr-home {
    order: 0;
  }

  .ftr-about {
    order: 1;
  }

  .ftr-destinations {
    order: 2;
  }

  .ftr-guides {
    order: 3;
  }

  .ftr-gallery {
    order: 4;
  }

  footer .container ul li a {
    font-size: 115%;
    font-weight: bold;
  }

  footer .container ul li a + ul {
    margin-top: 5px;
    display: list-item;
  }
}

@media screen and (min-width: 992px) {
  .navbar,
  .navbar-nav {
    margin: 0;
    padding: 0;
  }

  .navbar-collapse {
    position: absolute;
    right: 5%;
  }

  .nav-link {
    padding: 0.68rem 0%;
  }

  footer .container {
    padding: 0.2rem 10%;
  }
}
