@media screen and (min-width: 500px) {
  .main-destinations > div {
    margin: 1rem 2.5rem !important;
  }

  .main-about {
    margin: 1.5rem 2rem;
  }

  .crsl-zoe-2 {
    background-position-y: 60%;
  }

  .crsl-zoe-3 {
    background-position-y: 20%;
  }

  .crsl-bulusan-4 {
    background-position-y: 70%;
  }

  .crsl-barcelona-2 {
    background-position-y: 100%;
  }

  .crsl-barcelona-3 {
    background-position-y: 70%;
  }

  .crsl-rizal-2 {
    background-position-y: 1%;
  }

  .crsl-cagsawa-1 {
    background-position-y: 85%;
  }

  .crsl-quituinan-2 {
    background-position-y: 70%;
  }

  .crsl-hoyop-3 {
    background-position-y: 65%;
  }
}

@media screen and ((min-width: 500px) and (max-width: 700px)) {
  .main-home .shortcut-stories {
    margin: 1rem 3rem;
  }
}

@media screen and (min-width: 601px) {
  .main-destinations > div {
    margin: 1rem 4rem !important;
  }

  .sub-banner-1,
  .sub-banner-2 {
    flex-direction: column;
  }

  .sub-banner-1 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
      url("../images/destinations/falls.JPG");
    background-size: cover;
    background-position: center;
    background-position-y: 30%;
  }

  .sub-banner-2 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
      url("../images/destinations/mayon.JPG");
    background-size: cover;
    background-position: center;
    background-position-y: 20%;
  }

  .proj-desc-img-3 {
    background-position-y: 40%;
  }

  .gallery-breaker {
    width: 80%;
    margin: 1.2rem auto;
  }

  .crsl-juag-1 {
    background-position-y: 40%;
  }
}

@media screen and ((min-width: 701px) and (max-width: 900px)) {
  .main-home .shortcut-stories {
    margin: 1rem 6rem;
  }
}

@media screen and (min-width: 768px) {
  .main-destinations > div {
    margin: 1rem 6rem 2rem 6rem !important;
  }

  .main-banner {
    height: 450px;
  }

  .highlight-story-container {
    display: flex;
    flex-direction: column;
  }

  .main-about {
    margin: 1.5rem 4rem;
  }

  .about-the-proj-img {
    width: 60%;
  }

  .main-guides {
    margin: 1.5rem 3rem;
  }

  .main-guides .table {
    font-size: 0.85rem;
  }

  .main-gallery .container {
    padding: 0% 4rem;
  }

  .gallery-breaker {
    width: 65%;
    margin: 1.2rem auto;
  }

  .carousel-item {
    height: 320px;
  }

  .crsl-zoe-2 {
    background-position-y: 50%;
  }

  .crsl-bulusan-1 {
    background-position-y: 10%;
  }

  .crsl-bulusan-2 {
    background-position-y: 45%;
  }

  .crsl-bulusan-3 {
    background-position-y: 100%;
  }

  .crsl-bulusan-4 {
    background-position-y: 55%;
  }

  .crsl-barcelona-1 {
    background-position-y: 45%;
  }

  .crsl-barcelona-3 {
    background-position-y: 75%;
  }

  .crsl-rizal-1 {
    background-position-y: 100%;
  }

  .crsl-rizal-3 {
    background-position-y: 80%;
  }

  .crsl-mayon-2 {
    background-position-y: 65%;
  }

  .crsl-cagsawa-1 {
    background-position-y: 60%;
  }

  .crsl-cagsawa-3 {
    background-position-y: 57%;
  }

  .crsl-sumlang-1,
  .crsl-quituinan-1 {
    background-position-y: 100%;
  }

  .crsl-quituinan-2 {
    background-position-y: 65%;
  }

  .crsl-quituinan-3 {
    background-position-y: 100%;
  }

  .crsl-hoyop-1 {
    background-position-y: 25%;
  }

  .crsl-hoyop-2 {
    background-position-y: 70%;
  }

  .crsl-hoyop-4 {
    background-position-y: 65%;
  }
}

@media screen and (min-width: 901px) {
  .main-home {
    flex-direction: row;
  }

  .navbar-brand {
    margin: 0% 2rem;
  }

  .navbar-toggler {
    margin: 0% 3rem;
  }

  .nav-link {
    padding: 0.5rem 4rem;
  }

  .main-home {
    margin-top: 0.5rem;
  }

  /* Destinations */
  .main-destinations > div {
    margin: 1rem 9rem 2.5rem 9rem !important;
  }

  .sub-banner-1 {
    background-position-y: 40%;
  }

  .sub-banner-2 {
    background-position-y: 15%;
  }

  .highlight-story-container {
    padding: 0% 5%;
  }

  /* Gallery */
  .gallery-title {
    font-size: 135%;
  }

  .gallery-title + small,
  .main-gallery .container div + h5 {
    font-size: 90%;
  }

  footer {
    margin-top: 1.5rem;
  }

  footer .container {
    padding: 0.2rem 5%;
  }

  footer .container ul {
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .ftr-home {
    order: 0;
  }

  .ftr-about {
    order: 1;
  }

  .ftr-destinations {
    order: 2;
  }

  .ftr-guides {
    order: 3;
  }

  .ftr-gallery {
    order: 4;
  }

  footer .container ul li a {
    font-size: 115%;
    font-weight: bold;
    padding: 3px 7px 3px 0px;
    border-bottom: 2px solid white;
  }

  footer .container ul li a + ul {
    margin-top: 10px;
    display: list-item;
  }
}

@media screen and (min-width: 992px) {
  .navbar,
  .navbar-nav {
    margin: 0;
    padding: 0;
  }

  .navbar-collapse {
    position: absolute;
    right: 5%;
  }

  .nav-link {
    padding: 0.68rem 0%;
  }

  footer .container {
    padding: 0.2rem 10%;
  }

  .main-about {
    margin: 1.5rem 1rem;
  }

  .about-the-proj-img {
    width: 45%;
  }

  .proj-desc-img-1 {
    background-position-y: 70%;
  }

  .proj-desc-img-2 {
    background-position-y: 100%;
  }

  .main-guides {
    margin: 2rem 10%;
  }

  .main-guides .card-header .nav-link {
    padding: 0.5rem 3rem;
  }

  .main-guides .table {
    font-size: 1rem;
  }

  .main-gallery {
    margin: 2rem 0%;
    padding: 0%;
  }

  .main-gallery .container {
    padding: 0% 20%;
  }

  .carousel-item {
    height: 350px;
  }

  .crsl-subic-2 {
    background-position-y: 73%;
  }

  .crsl-zoe-1 {
    background-position-y: 60%;
  }

  .crsl-bulusan-4 {
    background-position-y: 60%;
  }

  .crsl-cagsawa-3 {
    background-position-y: 50%;
  }

  .crsl-hoyop-4 {
    background-position-y: 85%;
  }
}

@media screen and (min-width: 1000px) {
  .highlight-story-container {
    padding: 0% 12%;
  }

  .gallery-breaker {
    width: 50%;
    margin: 1.5rem auto;
  }
}

@media screen and (min-width: 1250px) {
  .main-home .shortcut-stories {
    margin: 1rem 2.2rem;
  }

  .main-destinations > div {
    margin: 1rem 12rem 2.5rem 12rem !important;
  }

  .sub-banner-1 {
    background-position-y: 45%;
  }

  .about-the-proj-img {
    width: 35%;
  }

  .main-guides {
    margin: 2rem 20%;
  }

  .highlight-story-container {
    padding: 0% 17%;
  }

  .gallery-title + small,
  .main-gallery .container div + h5 {
    font-size: 100%;
  }

  .gallery-breaker {
    width: 50%;
    margin: 1.5rem auto;
  }

  .carousel-item {
    height: 380px;
  }

  .crsl-hoyop-4 {
    background-position-y: 80%;
  }
}
