* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

body {
  background-color: rgb(225, 225, 225);
}

/***** Home *****/
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/index/IMG_4831.jpg");
  /* background-position-y: 5%; */
}

.about-the-proj {
  color: white;
  font-size: medium;
  border-radius: 3rem;
  background-color: slateblue;
  padding: 0.5rem 1rem 0.65rem 1.2rem;
}

.shortcut-stories {
  height: 250px;
  margin: 1rem;
  display: flex;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 5px 1rem rgba(0, 0, 0, 0.35);
}

.shortcut-stories a {
  color: black;
  width: 100%;
}

.story-title {
  height: 25%;
  padding: 0.75rem 1rem;
}

.story-title small {
  /* text-align: right; */
  font-size: x-small;
}

.story-image {
  height: 75%;
  border-radius: 0 0 10px 10px;
  background: url("../images/index/IMG_4831.jpg");
  background-size: cover;
  /* background-position-y: 5%; */
}

main {
  padding: 0% 0.5rem;
}

main h4 {
  font-size: large;
}

main p {
  font-size: medium;
}

main small,
h5 {
  font-size: small;
}

/***** About *****/
.about-the-proj-img {
  width: 85%;
  height: 250px;
  margin: auto;
  border-radius: 7px;
  background-color: white;
}

/***** Gallery *****/
.gallery-title {
  color: #199490;
}

.carousel-item {
  height: 300px;
  background-color: slateblue;
}

section .carousel p {
  font-size: small;
}

.gallery-breaker {
  height: 0.35rem;
  background-color: rgb(190, 190, 190);
}

/***** Destinations *****/
.stories a {
  color: white;
}

.stories a h3 {
  font-size: large;
}

.story-banner-legazpi {
  height: 300px;
  padding: 0.5rem 35% 0.5rem 1rem;
  display: flex;
  flex-direction: column-reverse;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url(https://images.unsplash.com/photo-1463760959829-d829ea46e191?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN1bWxhbmclMjBsYWtlfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

.story-banner-calintaan,
.story-banner-sorsogon {
  height: 200px;
  padding: 0.5rem 1rem;
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;
}

.story-banner-calintaan {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url(https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YmVhY2h8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60);
}

.story-banner-sorsogon {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.75)
    ),
    url(https://images.unsplash.com/photo-1487734092093-e5b02908580e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFsbHN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
}

.sub-banners {
  display: flex;
}

/* Immediate Child */
.sub-banners > a {
  padding-left: 0px;
  padding-right: 3px;
}

/* Adjacent Sibling */
.sub-banners a + a {
  padding-left: 3px;
  padding-right: 0px;
}

/***** Travel Guides *****/
.card-header {
  background-color: rgb(200, 200, 200);
}

.card-header a,
.card-header a.active {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.accordion .accordion-item .odd {
  color: white !important;
  background-color: slateblue !important;
  background-color: rgb(115, 100, 175) !important;
}

.accordion .accordion-item .even {
  color: rgba(0, 0, 0, 0.6) !important;
  background-color: rgb(115, 100, 175) !important;
  background-color: rgb(150, 140, 205) !important;
}

.table {
  font-size: small;
}
