* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
}

body {
  background-color: rgb(225, 225, 225);
}

/***** Home *****/
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://media.istockphoto.com/id/173748944/photo/perfect-volcano.jpg?s=612x612&w=0&k=20&c=0rT0L6bxhWwWb89A_nOjONcFXRIAOHaSfsC0U_7X5ys=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.about-the-proj {
  color: white;
  font-size: medium;
  border-radius: 3rem;
  background-color: rgb(115, 100, 175);
  padding: 0.5rem 1rem 0.65rem 1.2rem;
}

.shortcut-stories {
  height: 300px;
  margin: 1rem;
  display: flex;
  background-color: white;
  box-shadow: 3px 5px 0.75rem rgba(0, 0, 0, 0.25);
}

.shortcut-stories a {
  color: black;
  width: 100%;
}

.story-title {
  padding: 0.75rem 1rem;
}

.story-title small {
  font-size: x-small;
}

.story-image {
  height: 250px;
}

.story-image-subic {
  background: url("../images/index/subic.jpg");
  background-position-y: 67%;
  background-size: cover;
}

.story-image-falls {
  background: url("../images/index/hidden-falls.JPG");
  background-position-y: 80%;
  background-size: cover;
}

.story-image-mayon {
  background: url("https://media.istockphoto.com/id/173748944/photo/perfect-volcano.jpg?s=612x612&w=0&k=20&c=0rT0L6bxhWwWb89A_nOjONcFXRIAOHaSfsC0U_7X5ys=");
  background-position-y: 40%;
  background-size: cover;
}

.main-home {
  flex-direction: column;
}

main {
  padding: 0% 0.5rem;
}

main h4 {
  font-size: large;
}

main p {
  font-size: medium;
}

main small,
h5 {
  font-size: small;
}

/***** About *****/
.main-about {
  margin: 1.5rem 0.5rem;
}

.proj-obj,
.proj-desc {
  color: #199490;
}

.about-the-proj-img {
  width: 85%;
  height: 300px;
  margin: auto;
  background-color: white;
}

.proj-obj-img,
.proj-desc-img-1,
.proj-desc-img-2,
.proj-desc-img-3 {
  width: 100%;
  height: 100%;
}

.proj-obj-img {
  background: url("../images/about/proj-obj.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
}

.proj-desc-img-1 {
  background: url("../images/about/proj-desc-1.JPG");
  background-size: cover;
  background-position: center;
}

.proj-desc-img-2 {
  background: url("../images/about/proj-desc-2.JPG");
  background-size: cover;
  background-position: center;
}

.proj-desc-img-3 {
  background: url("../images/about/proj-desc-3.jpg");
  background-size: cover;
  background-position: center;
}

/***** Destinations *****/
.main-destinations,
.sub-banners {
  margin: 0;
  padding: 0;
}

.main-banner {
  height: 350px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../images/destinations/subic.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 100%;
  display: flex;
  flex-direction: column;
}

.sub-banner-1,
.sub-banner-2 {
  display: flex;
  flex-direction: column-reverse;
}

.sub-banner-1 {
  height: 225px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../images/destinations/falls.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 90%;
}

.sub-banner-2 {
  height: 225px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../images/destinations/mayon.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 40%;
}

.story-banner-subic,
.story-banner-falls,
.story-banner-mayon {
  margin: 0.75rem 0.5rem;
}

.highlight-story-container {
  display: none;
}

.highlight-story-title {
  color: #199490;
}

.next-story {
  border: none;
  width: 150px;
  background-color: rgb(115, 100, 175);
}

.next-story:hover {
  color: white !important;
  background-color: rgb(115, 100, 175);
  background-color: rgb(150, 140, 205) !important;
}

/***** Gallery *****/
.main-gallery {
  margin: 1.5rem 0%;
  padding: 0%;
}

.main-gallery .container {
  padding: 0% 2rem;
}

.gallery-title {
  color: #199490;
}

.carousel-item {
  height: 300px;
  background-color: slateblue;
}

section .carousel p {
  font-size: small;
}

.gallery-breaker {
  margin: 1.2rem 0%;
  height: 0.35rem;
  background-color: rgb(180, 180, 180);
}

/* Carousel Pictures - Calintaan */
.crsl-subic-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../images/gallery/calintaan/subic-1.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 75%;
}

.crsl-subic-2 {
  background: url("../images/gallery/calintaan/subic-2.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 80%;
}

.crsl-subic-3 {
  background: url("../images/gallery/calintaan/subic-3.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-subic-4 {
  background: url("../images/gallery/calintaan/subic-4.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 80%;
}

.crsl-juag-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../images/gallery/calintaan/juag-1.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 60%;
}

.crsl-juag-2 {
  background: url("../images/gallery/calintaan/juag-2.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 85%;
}

.crsl-cave-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
    url("../images/gallery/calintaan/cave-1.jpg");
  background-size: cover;
  background-position: center;
}

.crsl-cave-2 {
  background: url("../images/gallery/calintaan/cave-2.jpg");
  background-size: cover;
  background-position: center;
}

/* Carousel Pictures - Sorsogon */
.crsl-zoe-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../images/gallery/sorsogon/zoe-1.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-zoe-2 {
  background: url("../images/gallery/sorsogon/zoe-2.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 70%;
}

.crsl-zoe-3 {
  background: url("../images/gallery/sorsogon/zoe-3.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 35%;
}

.crsl-zoe-4 {
  background: url("../images/gallery/sorsogon/zoe-4.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 35%;
}

.crsl-bulusan-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)),
    url("../images/gallery/sorsogon/bulusan-1.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-bulusan-2 {
  background: url("../images/gallery/sorsogon/bulusan-2.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-bulusan-3 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.35)
    ),
    url("../images/gallery/sorsogon/bulusan-3.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-bulusan-4 {
  background: url("../images/gallery/sorsogon/bulusan-4.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 75%;
}

.crsl-barcelona-1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.5)
    ),
    url("../images/gallery/sorsogon/barcelona-1.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 75%;
}

.crsl-barcelona-2 {
  background: url("../images/gallery/sorsogon/barcelona-2.jpg");
  background-size: cover;
  background-position: center;
}

.crsl-barcelona-3 {
  background: url("../images/gallery/sorsogon/barcelona-3.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 65%;
}

.crsl-barcelona-4 {
  background: url("../images/gallery/sorsogon/barcelona-4.jpg");
  background-size: cover;
  background-position: center;
}

.crsl-rizal-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("../images/gallery/sorsogon/rizal-1.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-rizal-2 {
  background: url("../images/gallery/sorsogon/rizal-2.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-rizal-3 {
  background: url("../images/gallery/sorsogon/rizal-3.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 95%;
}

/* Carousel Pictures - Legazpi */
.crsl-mayon-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("https://media.istockphoto.com/id/173748944/photo/perfect-volcano.jpg?s=612x612&w=0&k=20&c=0rT0L6bxhWwWb89A_nOjONcFXRIAOHaSfsC0U_7X5ys=");
  background-size: cover;
  background-position: center;
}

.crsl-mayon-2 {
  background: url("../images/gallery/legazpi/mayon.JPG");
  background-size: cover;
  background-position: center;
  background-position-y: 75%;
}

.crsl-cagsawa-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("../images/gallery/legazpi/cagsawa-1.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 90%;
}

.crsl-cagsawa-2 {
  background: url("../images/gallery/legazpi/cagsawa-2.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-cagsawa-3 {
  background: url("../images/gallery/legazpi/cagsawa-3.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 40%;
}

.crsl-sumlang-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
    url("../images/gallery/legazpi/sumlang-1.jpg");
  background-size: cover;
  background-position: center;
}

.crsl-sumlang-2 {
  background: url("../images/gallery/legazpi/sumlang-2.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 90%;
}

.crsl-quituinan-1 {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url("../images/gallery/legazpi/quituinan-1.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-quituinan-2 {
  background: url("../images/gallery/legazpi/quituinan-2.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-quituinan-3 {
  background: url("../images/gallery/legazpi/quituinan-3.JPG");
  background-size: cover;
  background-position: center;
}

.crsl-hoyop-1 {
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.65)
    ),
    url("../images/gallery/legazpi/hoyop-1.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 65%;
}

.crsl-hoyop-2 {
  background: url("../images/gallery/legazpi/hoyop-2.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 80%;
}

.crsl-hoyop-3 {
  background: url("../images/gallery/legazpi/hoyop-3.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 55%;
}

.crsl-hoyop-4 {
  background: url("../images/gallery/legazpi/hoyop-4.jpg");
  background-size: cover;
  background-position: center;
  background-position-y: 88%;
}

/***** Travel Guides *****/
.main-guides {
  margin: 1.5rem 0rem;
}

.card-header {
  background-color: rgb(200, 200, 200);
}

.card-header a,
.card-header a.active {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.accordion .accordion-item .odd {
  color: white !important;
  background-color: slateblue !important;
  background-color: rgb(115, 100, 175) !important;
}

.accordion .accordion-item .even {
  color: rgba(0, 0, 0, 0.6) !important;
  background-color: rgb(115, 100, 175) !important;
  background-color: rgb(150, 140, 205) !important;
}

.table {
  font-size: small;
}
